@charset:"utf-8";
*{
	margin: 0;
	padding:0;
}
body{
	width:80%;
	margin:0px auto;
	background-color: #80c3ff;
	font-family: 'Kosugi Maru', sans-serif;
}
h1{
	color:#ffffff;
	text-align: center;
	background-color: #5610c7;
	border-radius: 40px;
	font-size: 30px;
	padding: 20px;
	margin: 30px 90px 30px 90px;
	color: #ffffff;
	text-shadow: -1px -1px 2px #011f4a, 1px 1px 2px #ffffff;
}
input.edit{
	border: none;
	width: 100%;
	background-color: transparent;
	border: 2px solid #5610c7;
	border-top: none;
	border-left: none;
	box-shadow: -2px -2px 5px #ffffff;
	border-radius: 15px;
	outline: 0;
}
input.edit:hover{
	background-color:rgba(255,255,255,0.7);
	outline: 0;
}
input.edit:active{
	outline: 0;
}
input[type="search"],input[type="text"],input[type="date"],input[type="number"]{

	box-sizing:border-box;
	height:34px;
	width:80%;
	padding: 0px 15px;
	font-size: 18px;
	font-weight:bolder;
	border-radius: 30px;
	margin:8px 15px;
	border:5px solid #FFFFFF;
	font-family: 'Kosugi Maru', sans-serif;
}
input[type="search"]:focus,input[type="text"]:focus,input[type="date"]:focus,input[type="number"]:focus{
	transition: 0.3s ease-in-out;
	border: 5px solid #ffa1e7;
	text-shadow: 50px;
	outline: 0;
}
.button{
	float: left;
	width:30%;
	height: 40px;
	color: #ffffff;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 20px;
	font-weight:bolder;
	margin-top:50px;
	margin-bottom: 15px;
	background-color: #0fb9fc;
	border: none;
	border-radius: 20px;
}
div.alter .button{
	margin-left:6%;
	width:25%;
}
div.alter .button:nth-child(3){
	background-color:#7a7a7a;
}
div.alter .button:first-child{
	background-color:#8dff03;
}
div.search .button:last-child, div.new .button:last-child{
	margin-left:17%;
}
div.search .button:first-child, div.new .button:first-child{
	margin-left:2%;
	background-color: #8dff03;
}
div form:last-child::after{
	clear: both;
	display: block;
	content:"";
}
table{
	margin: 50px auto;
	width: 90%;
	border-collapse:collapse;
}
th{
	background-color: #5610c7;
	padding: 10px;
	color: #ffffff;
}
th:first-child{
	border-top-left-radius: 20px
}
th:last-child{
	border-top-right-radius: 20px
}

tr.result:nth-child(2n){
	background-color:#d4e5ff;
}
td{
	padding: 15px;
}
label{
	margin:auto;
	text-align: center;
	width:80%;
	font-size: 20px;
	font-weight:bolder;
	display:grid;
	grid-template-columns: 9em 2fr 2fr;
}
.alter label, .new label{
	margin:auto;
	text-align: center;
	width:80%;
	font-size: 20px;
	font-weight:bolder;
	display:grid;
	grid-template-columns: 9em 1fr;
}
span, .non_data{
	margin: auto 20px;
	padding:7px;
	color: #ffffff;
	background-color: #0fb9fc;
	border-radius: 20px;
}
.non_data{
	text-align:center;
	background-color: #5610c7;
	margin:15px auto 0px;
	width:9em;
}
.new_tg{
	width:80%;
	color: #ffffff;
}
div.search, div.alter, div.new{
	padding: 38px 25px;
	border-radius: 150px;
	background-color:  #5610c7;
}